<p-toast />
<div class="flex flex-row-reverse md:flex-row gap-2">
    <p-button label="Crear Nuevo Cliente" severity="primary" class="gap-3" styleClass="gap-3" routerLink="/client-form/new" />
    <p-button label="Menu Principal" severity="secondary" class="gap-3" styleClass="gap-3" routerLink="/" />
</div>
<h1>Listado de Clientes</h1>
<br>
<p-dataView #dv [value]="clients">
    <ng-template pTemplate="list" let-clients>
        <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let client of clients; let first = first" class="col-12">
                <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                        <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                            <div>
                                <span class="font-medium text-secondary text-sm">Cliente N° {{ client.id }}</span>
                                <div class="text-lg font-medium text-900 mt-2">{{ client.name }} {{ client.lastname }}</div>
                            </div>
                            <div class="flex flex-row-reverse md:flex-row gap-2">
                                <p-button label="Borrar" severity="secondary" class="w-full" styleClass="w-full" (onClick)="deleteClient(client.id)" />
                                <p-button label="Editar" severity="primary" class="w-full" styleClass="w-full" routerLink="/client-form/{{client.id}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>