<p-toast />
<div class="flex justify-content-center align-items-center min-h-screen w-ful">
    <p-card header="Formulario Articulo" class="w-10">
        <form [formGroup]="formArticle" (ngSubmit)="edit ? updateArticle() : createArticle()" class="flex flex-column gap-2">
            <div class="field flex flex-column gap-1">
                <label for="name">Codigo: </label>
                <input type="text" pInputText formControlName="code" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="name">Nombre: </label>
                <input type="text" pInputText formControlName="name" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="lastname">Precio Unitario: </label>
                <p-inputNumber inputId="unitPrice" mode="currency" currency="USD" locale="en-US" formControlName="unitPrice" />
            </div>
            <div class="flex gap-2">
                <p-button label="Guardar" [loading]="isSaveInProgress" type="submit" />
                <p-button label="Atras" severity="secondary" class="gap-3" styleClass="gap-3" routerLink="/article-view" />
            </div>
        </form>
    </p-card>
</div>